{% extends 'base.html' %} 
{% load static %} 
{% load humanize %} 
{% block content%}
<div class="content container text-center" style="height: 70vh">
  <div class="align-middle py-5 my-5">
    <h1>500</h1>
    <h2>Internal Server Error</h2>
    <a href="{% url 'home:index' %}" class="btn btn-primary button2"
      >Kembali ke Halaman Utama</a
    >
  </div>
</div>
{% endblock content %}
