{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div>
    <div class="container my-5">
        <div class="row">
            <div class="shadow col-3 font1 pt-5" style="background: #E0C387; text-align: center;">
                <img src="{% static 'coronavirus.png' %}" alt="coronavirus" class="img-responsive" style="width:70%"><br>
                <p style="font-weight: bold;">PENCEGAHAN TERPAPAR VIRUS CORONA</p>
                <img src="{% static 'mask.png' %}" alt="coronavirus" class="img-responsive" style="width:70%"><br>
                <p style="font-weight: bold;">MEMAKAI MASKER</p>
                <img src="{% static 'social-distancing.png' %}" alt="coronavirus" class="img-responsive" style="width:70%"><br>
                <p style="font-weight: bold;">MENJAGA JARAK</p>
                <img src="{% static 'washing-hand.png' %}" alt="coronavirus" class="img-responsive" style="width:70%"><br>
                <p style="font-weight: bold;">RAJIN MENCUCI TANGAN</p>
            </div>
            <div class="shadow col-9 font1 p-3" style="text-align: center; ">
                <div>
                    <img src="{% static 'briefcase.png' %}" alt="coronavirus" class="img-responsive" style="width:30%">
                </div>
                <div class="shadow rounded p-3 m-3" style="background: #CEE8F9;">
                    <h1>MEDISALE</h1>
                    <hr>
                    <p>
                        Medisale adalah aplikasi/website yang menjual alat-alat medis untuk penanganan dan pencegahan corona.
                        Pasar utama kami adalah tenaga kesehatan maupun orang-orang yang masih aktif berkegiatan di tengah pandemi corona.
                        Manfaat dari MEDISALE adalah mempermudah masyarakat dalam membeli alat perlindungan diri dan alat-alat medis.</p>
                </div>
                <div class="font1">
                    <h2 class="my-5">PROMO HARI INI</h2>
                    <div class="d-flex flex-wrap justify-content-around">
                      {% for pd in produk%}
                      <div class="shadow card" style="text-align: left; width: 18rem; margin-left:4%; margin-bottom:4%; max-width: 240px;">
                        <img src="{{ pd.foto }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ pd.nama }}</h5>
                                <a href="{% url 'detail:detailproduk' detail_id=pd.id %}"> 
                                    <button  style='background-color:#00395E; border: #00395E; width:94px; height:31px;' class="btn btn-primary btn-lgN">Details</button>
                                </a>
                                <a href="{% url 'keranjang:tambah' detail_id=pd.id %}"> 
                                {% comment %}ini harusnya ke hlm keranjang plus tambahin ikon keranjang
                                {% endcomment %}
                                <img src={% static 'troli.png' %} >
                                    {% comment %} <button class="btn btn-primary btn-lg">Buy Now</button> {% endcomment %}
                                </a>
                                <h5 style="text-align:right">Rp{{ pd.harga|intcomma }}</h5>
                            </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
