{% extends 'base.html' %} {% load static %} {% load humanize %} {% block meta %}
<title>Checkout</title>
{% endblock meta %} {% block content %}
<div class="content">
  <div class="container">
    <div class="row" style="text-align: center; background-color: #e0c387">
      <div class="col">
        <h1>Checkout</h1>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <h5>Berikut detail pengiriman:</h5>
        <div class="table-responsive-lg">
          <table class="table table-striped">
            <tr>
              <th scope="col">Nama Lengkap</th>
              <td>{{detail.nama}}</td>
            </tr>
            <tr>
              <th scope="col">Nomor Telepon</th>
              <td>{{detail.telpon}}</td>
            </tr>
            <tr>
              <th scope="col">Email</th>
              <td>{{detail.email}}</td>
            </tr>
            <tr>
              <th scope="col">Alamat Lengkap</th>
              <td>{{detail.alamat}}</td>
            </tr>
            <tr>
              <th scope="col">Waktu Checkout</th>
              <td>{{detail.waktu_checkout}}</td>
            </tr>
            <tr>
              <th scope="col">Kurir</th>
              <td>{{detail.kurir}}</td>
            </tr>
            <tr>
              <th scope="col">Status</th>
              <td>
                <b
                  >{{detail.status_pengiriman}} 
                  {% if detail.status_pengiriman.name == 'Menunggu Pembayaran' %} ({{
                  detail.metode_pembayaran }}) {% endif %}</b
                >
              </td>
            </tr>
            <tr>
              <th scope="col">Barang</th>
              <td>
                {% for p in detail.produkakandikirim.all %}
                <a href="{% url 'detail:detailproduk' p.product.id %}"
                  >{{p.product.nama}}</a
                >
                ({{p.jumlah}})<br />
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th scope="col">Total Harga</th>
              <td>Rp {{detail.total_harga|intcomma}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <hr />
    <div class="row" style="text-align: center">
      <div class="col">
        <h5>Kami akan segera memproses pesananmu :)</h5>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
