{% extends 'base.html' %} {% load static %} {% load humanize %} {% block meta %}
<title>Checkout</title>
<link rel="stylesheet" href="{% static 'css/keranjang.css' %}" />
{% endblock meta %} {% block content %}
<div style="min-height: 90vh">
  <div class="container my-5" style="max-width: 600px">
    <h2><a class="btn" href="/account/history/"><i class="fas fa-arrow-left"></i> back</a></h2>
    <h2 class="shadow keranjang-h4 text-center">Riwayat Belanja</h2>
    <div class="shadow-sm card p-3">
      <div class="row mt-2">
        <div class="col">
          <h4>Detail Pengiriman</h4>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <table class="table table-borderless table-responsive table-sm align-top">
            <tbody>
              <tr>
                <th style="width: 35%">Nama</th>
                <td>{{detail.nama}}</td>
              </tr>
              <tr>
                <th>Nomor HP</th>
                <td>{{detail.telpon}}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{detail.email}}</td>
              </tr>
              <tr>
                <th>Alamat Lengkap</th>
                <td>
                  {{detail.alamat}}
                </td>
              </tr>
              <tr>
                <th>Kurir</th>
                <td>{{detail.kurir}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col">
          <h4>Daftar Barang</h4>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <table class="table border table-sm align-middle">
            <tbody>
              {% for p in detail.produkakandikirim.all %}
              <tr>
                <td style="width: 20%;"><img src="https://source.unsplash.com/random/250x150?sig={{forloop.counter}}" alt="" width="100%"></td>
                <td style="width: 65%;">{{p.jumlah}}x {{p.product.nama}}</td>
                <td style="width: 15%;"><a href="{% url 'detail:detailproduk' p.product.id %}">Review</a> </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h4>Total Harga</h4>
        </div>
        <div class="col text-right">
          <h4>Rp {{detail.total_harga|intcomma}}</h4>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
