{% extends 'base.html' %} {% load static %} {% load humanize %} {% block meta %}
<title>Checkout</title>
<link rel="stylesheet" href="{% static 'css/keranjang.css' %}" />
{% endblock meta %} {% block content %}
<div style="min-height: 90vh">
  <div class="container my-5" style="max-width: 600px">
    <h2><a class="btn" href="/account/"><i class="fas fa-arrow-left"></i> back</a></h2>
    <h2 class="shadow keranjang-h4 text-center">Riwayat Belanja</h2>
    <div class="shadow-sm card p-3">
      <div class="row mt-2">
        {% if details %}
        <table class="table table-responsive table-borderless mx-3">
            <thead>
                <th>No</th>
                <th>Barang</th>
                <th>Tanggal Checkout</th>
                <th>Rincian</th>
            </thead>
            <tbody>
                {% for detail in details %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td style="width: 40%;">
                        {% for i in detail.produkakandikirim.all %}
                        {{i.product}} <br>
                        {% endfor %}
                    </td>
                    <td>{{detail.waktu_checkout|naturaltime}}</td>
                    <td><a href="/account/history/{{forloop.counter}}">detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="m-3 px-3">Anda belum pernah berbelanja</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
