{% extends 'base.html' %}
{% load static %} 
{% load humanize %} 
{% load mathfilters %} 
{% block meta %}
<title>Keranjang Belanjaan</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/keranjang.css' %}"
/>
{% endblock meta %} 
{% block content %}
<div class="content keranjang">
  {% if user.is_authenticated %}
  <form action="/keranjang/checkout" method="POST">
    <div class="container">
      <!--SHOPPING CART-->
      <div class="row cart">
        <div class="col-md-8">
          <div
            class="shadow art d-flex flex-row align-items-center my-3 keranjang-h4"
          >
            <h4 class="hkeranjang">Shopping Cart</h4>
          </div>
          {% if produk|length > 0 %} 
          {% for pd in produk %}
          <div
            class="shadow-sm card mb-2 card-keranjang card-produk-keranjang item{{pd.product.id}}"
            style="max-width: 100%"
            id="{{pd.product.id}}"
          >
            <div class="row no-gutters">
              <div class="col-md-4">
                <a href="{% url 'detail:detailproduk' pd.product.id %}">
                  <img
                    src="{{ pd.product.foto }}"
                    class="card-img img-card-keranjang"
                    alt="#"
                  />
                </a>
              </div>
              <div class="col">
                <div class="card-body">
                  <a
                    href="{% url 'detail:detailproduk' pd.product.id %}"
                    style="color: black"
                  >
                    <h5 class="card-title">{{ pd.product.nama }}</h5>
                  </a>
                  <p class="card-text">Rp {{ pd.product.harga|intcomma }}</p>
                  <div class="form-inline card-text">
                    <small> qty:&nbsp; </small>
                    <div class="btn btn-sm button3 decQty">
                      <i class="fas fa-minus"></i>
                    </div>
                    <span class="qty{{pd.product.id}}">{{ pd.jumlah }}</span>
                    <div class="btn btn-sm button3 incQty">
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="btn btn-sm button3 delItem">
                      <i class="fas fa-trash"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
          {% else %}
          <h5>
            Keranjang Kosong.
            <a href="{% url 'produk:listproduk' %}">Tambah Produk.</a>
          </h5>
          <img src="{% static 'img/empty.jpg' %}" alt="empty cart" width="100%">
          <small><a href="https://www.freepik.com/photos/man">Man photo created by drobotdean - www.freepik.com</a></small>
          {% endif %} 
          {% if produk|length > 0 %}
          <div
            class="shadow cart d-flex flex-row align-items-center my-3 keranjang-h4"
          >
            <h4 class="hkeranjang">Shipping Details</h4>
          </div>
          <div class="shadow-sm container card card-keranjang" style="padding-top: 10px">
            <div class="myform form">
              {% csrf_token %}
              <div>{{ form }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="shadow cart d-flex flex-row align-items-center my-3 keranjang-h4"
          >
            <h4 class="hkeranjang">Summary</h4>
          </div>
          <div class="shadow-sm card p-4 card-keranjang">
            <div class="card-title">
              {% for pd in produk %}
              <p class="item{{pd.product.id}}">
                <span class="qty{{pd.product.id}}">{{pd.jumlah}}</span>x {{pd.product.nama|truncatechars:13 }}
                <span class="float-right subtotal1">
                  {% with jumlah=pd.jumlah harga=pd.product.harga %} Rp<span
                    class="price{{pd.product.id}}"
                    >{{ jumlah|mul:harga|intcomma }}</span
                  >
                  {% endwith %}
                </span>
              </p>
              {% endfor %}
              <hr />
              <div>
                <div class="float-left">Ongkos Kirim</div>
                :
                <div class="float-right">-</div>
              </div>
              <div class="float-left">Total Harga:</div>
              <div class="float-right">
                Rp<span id="totalPrice">{{ totalHarga|intcomma }}</span>
              </div>
            </div>
            <hr />
            <input
              class="btn btn-primary btn-lg w-100 button2"
              type="submit"
              value="Checkout"
            />
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="container text-center my-5">
    <div class="row">
      <div class="col">
        <h2>Anda harus memiliki akun untuk berbelanja</h2>
        <div class="d-flex justify-content-center my-5">
          <a class="btn btn-lg btn-dark button2 mx-5" href="{% url 'login' %}">Masuk</a>
          <a class="btn btn-lg btn-dark button2 mx-5" href="{% url 'signup' %}">Mendaftar</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'js/keranjang.js' %}"></script>
{% endblock content %}
