@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  background: #f8f9fb;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 80%;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.wrapper .accordion_item {
  margin-bottom: 25px;
  box-shadow: 0 0 5px rgba(225, 225, 225, 0.5);
}

.wrapper .accordion_item .accordion_tab {
  background: #fff;
  padding: 20px;
  color: #00395e;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.wrapper .accordion_item .accordion_tab.active {
  color: #fff;
  background: #00395e;
}

.wrapper .accordion_item .accordion_tab .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00395e;
}

.wrapper .accordion_item .accordion_tab .arrow img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
}

.wrapper .accordion_item .accordion_tab.active .arrow img {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.3s ease;
}

.wrapper .accordion_item .accordion_content {
  background: #fff;
  display: none;
  transition: all 0.3s ease;
}

.wrapper .accordion_item .accordion_content p {
  font-size: 14px;
  line-height: 22px;
  padding: 20px;
  color: #858aa5;
}

.wrapper .accordion_item .accordion_tab.active + .accordion_content {
  display: block;
  transition: all 0.3s ease;
}
