{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Detail Produk {% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>
            Detail Produk
        </title>
    </head>
    <body>
        <div class="container" style="overflow-wrap: break-word; margin-top: 5%;">  
            <div class="flex-container" style="width: 100%; display: flex;">
                <div class="img-fluid img-thumbnail" style="width: 50%; align-items: flex-end; height: auto; display: block;">
                    <img src="{{ pd.foto }}" class="card-img-top" alt="...">
                </div>
                <div class="d-flex flex-column bd-highlight mb-3" style="width: inherit; display: flex; text-align: left; margin-left: 5%;">
                    <h1>{{ pd.nama }}</h1><br>
                    <div class="flex-container" style="width: 100%; display: flex;">
                        <div style="width: 100%; display: flex; text-align: left;">
                            <h3 class="judul">Rp{{ pd.harga|intcomma }}</h3><br>
                        </div>
                    </div>
                    {% if pd.stok != 0%}
                    <h3>Stok barang = {{ pd.stok }}</h3>
                    <div>
                        <a href="{% url 'keranjang:tambah' detail_id=pd.id %}"> 
                            <button style='background-color:#00395E; border: #00395E;' class="btn btn-primary btn-lg buttonbeli">Beli Sekarang</button>
                        </a>
                    </div>
                    {% else %}
                    <h3>Stok barang = 0</h3>
                    <h3>Barang sudah habis, tidak dapat dipesan</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container" style="overflow-wrap: break-word; margin-top: 5%;">
            <div class="flex-container" style="width: 100%; display: flex;">
                <div style="width: 100%; display: flex; text-align: left;">
                    <h2 class="judul">Deskripsi Barang</h2>
                </div>
            </div>
            <div class="flex-container" style="width: 100%; display: flex;">
                <div class="detailbox" style="width: 100%; display: flex; text-align: left;">
                    <h4 class="detail" style="line-height: 170%;">{{pd.deskripsi}}</h4>
                </div>
            </div>
        </div>
        <div class="container" style="overflow-wrap: break-word; margin-top: 5%;">
            <div class="flex-container" style="width: 100%; display: flex;">
                <div style="width: 100%; display: flex; text-align: left;">
                    <h2 class="judul">Ulasan</h2>
                </div>
            </div>
            <div id="testiHasilContainer">
            {% if testimoni.count != 0%}
            {% for t in testimoni %}
            {% if t.produk.nama == pd.nama%}
            <div class="flex-container testihasil" style="width: 100%; display: flex; overflow-wrap: break-word;">
                <div style="width: 100%; display: flex; text-align: left;"> 
                    <div class="container detail" style="align-self: center; width: 100%;margin-top: 2%;">
                        <h4 style="line-height: 170%;">
                            {{ t.komentar }}<br>
                        </h4>
                        <h5>
                            -{{ t.name }} 
                        </h5> 
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="container formtesti" style="overflow-wrap: break-word; margin-top: 5%; align-content: inherit; overflow-wrap: break-word;">
            <div class="flex-container" style="width: 100%; display: flex; overflow-wrap: break-word;">
                <div style="width: 100%; display: flex; text-align: left; overflow-wrap: break-word">
                    <h2 style="width: inherit;">Tambahkan Ulasan</h2>
                </div>
            </div>
            <h6 style="color: red;">{{ notfound }}</h6>
            {% if user.is_authenticated %}
                <form action="" method="POST" id="testipost">
                    {% csrf_token %}
                    <table class="table-responsive-md" style="width:100%; margin-top: 2%;">
                    {{ form_testi.as_table }}
                    <!-- <div>
                        {{form_testi.name}}
                    </div>
                    <div>
                        {{form_testi.komentar}}
                    </div> -->
                    </table>
                    <button type="submit" value="Add" id="submittesti" class="btn btn-primary col-centered btn-sm" style="display: flex; word-wrap: break-word; margin-top: 2%; margin-left: 19vw; background-color: white; outline: #00395E; color: black;">Submit</button>
                </form>
            {% else %}
            <h6 style="color: red;">Login terlebih dahulu untuk menambahkan ulasan</h6>
            {% endif %}
        </div>
    </body>
</html>
<script src="{% static 'js/detail.js' %}"></script>
{% endblock content %}