{% extends 'base.html' %}
{% load static %}

{% block title %}Tambah Produk {% endblock %}

{% block content %}

<div class="d-flex flex-row-reverse" style="display: flex;">
{% comment %} Click me! {% endcomment %}
  <button id="coklatbt" style="background-color: #E0C387; margin: 10px; padding: 20px;"></button>
  <button id="dongkerbt" style="background-color: #00395E; margin: 10px; padding: 20px;"></button>
  <button id="birubt" style="background-color: #CEE8F9; margin: 10px; padding: 20px;"></button>
</div>

   <div class="container " style="margin-top:5%;text-align:center">
{% if user.is_authenticated %}
    <h1>Tambah Produk</h1>
    <div class="row d-flex justify-content-center">
         <div id="cardadd" class="card " style="width:35rem; background:#E0C387">
            <div class="col-md-12 justify-content-center">
               <div class="myform form ">
                  <form id="formpd" action="" method="POST" >
                     {% csrf_token %}
                     <div class="form-group" style=" padding-right:5%; padding-left:5%; padding-top: 5%">
                        {{ form }}
                        <div class="text-center" >
                           <input id="submit" type="submit" class="btn btn-light flex-row-reverse" value="submit">
                        </div>
                     </div>
                  </form>
               </div>
            </div>
               <div id="output"> </div>
         </div>
      </div>
{% else %}
  <div class="container text-center my-5">
    <div class="row">
      <div class="col">
        <h2>Anda harus memiliki akun untuk menambahkan produk</h2>
        <div class="d-flex justify-content-center my-5">
          <a class="btn btn-lg btn-dark button2 mx-5" href="{% url 'login' %}">Masuk</a>
          <a class="btn btn-lg btn-dark button2 mx-5" href="{% url 'signup' %}">Mendaftar</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% comment %} <div id="output">  </div> 
<h1> test </h1>
</div>  {% endcomment %}

<script>
var url2 = '{% url "produk:addproduk" %}'
</script>
<script src="{% static 'js/produk.js' %}"></script>

{% endblock  %}