{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}List Produk {% endblock %}

{% block content %}

    <!-- Back to top button -->
    <a id="buttonproduk"></a>

    <div style="margin-top:3%; margin-left:3%">
        <div class="row" style="" id="rowproduk">
            {% for pd in produk %}
               {% if pd.stok > 0 %}
                <div id="listpd" class="shadow card" style="text-align: left; width: 18rem; margin-left:4%; margin-bottom:4%; max-width: 240px;">
                    <img src="{{ pd.foto }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 id="nama" class="card-title">{{ pd.nama }}</h5>
                                <a href="{% url 'detail:detailproduk' detail_id=pd.id %}"> 
                                    <button  style='background-color:#00395E; border: #00395E; width:94px; height:31px;' id="detailbt" class="btn btn-primary btn-lgN">Details</button>
                                </a>
                                <a href="{% url 'keranjang:tambah' detail_id=pd.id %}"> 
                                    <img src={% static 'troli.png' %} >
                                </a>
                            <h5 style="text-align:right">Rp{{ pd.harga|intcomma }}</h5>
                        </div>
                    </div>
                {% endif %}    
            {% endfor %}
        </div>
    </div>


<script src="{% static 'js/produk.js' %}"></script>

{% endblock content%}