.button3 {
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  margin-right: 1px;
}

.button3:hover {
  transform: scale(1.2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.keranjang-h4 {
  padding: 5pt;
  background-color: #e0c387;
  border-radius: 5px;
}

.card-keranjang {
  border-radius: 3px;
  border-color: #c4c4c4;
  border: 10px;
}
/*
.card-produk-keranjang:hover {
  border-radius: 3px;
  border-color: black;
}*/
