@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.font1 {
  font-family: "Poppins", sans-serif;
  font-size: 16;
  text-align: center;
}

.font2 {
  font-family: "Poppins", sans-serif;
}

.nav-link,
.navbar-brand {
  color: navy !important;
  cursor: pointer;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.button1 {
  border: 1px solid;
  background-color: white;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.button1:hover {
  border: 1px solid;
  background-color: white;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  transform: scale(1.05);
}

.button2 {
  border: 2px solid #00395e;
  border-radius: 10px;
  background: #00395e;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0.25));
}

.button2:hover {
  border: 2px solid #00395e;
  border-radius: 10px;
  background: #00395e;
  filter: drop-shadow(2px 4px 4px rgb(0, 0, 0.5));
  transform: scale(1.05);
}

.hkeranjang {
  margin-left: 20px;
  margin-top: 5px;
}
.img-card-keranjang {
  height: 148px;
}

.footer {
  color: white;
  position: absolute;
  width: 100%;
  margin-top: 15pt;
  padding: 15pt;
  background: #00395e;
  height: 75pt;
  text-align: center;
}

.cariproduk {
  font-family: "Poppins", sans-serif;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}
:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}
::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

/*css untuk detail produk*/
.judul {
  background-color: #e0c387;
  padding: 2%;
  width: 150%;
}
.detail {
  border: black;
  border-style: solid;
  border-width: thin;
  padding: 2%;
  width: 150%;
}
.formtesti {
  border: black;
  border-style: solid;
  border-width: thin;
  padding: 2%;
  width: 50%;
}

details > summary {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid black;
  outline: black;
}

details > p {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.no-decoration {
  text-decoration: none;
  color: #000;
}

.no-decoration:hover {
  text-decoration: none;
  color: #000;
}

.no-decoration .active {
  text-decoration:darkgreen;
  color: #000;
}

/*
.row {
    width: 586px;
    height: 594px;
    left: 438px;
    top: 357px;
}
*/

/* css for produk app */

#buttonproduk {
  display: inline-block;
  background-color: #00395e;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#buttonproduk::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#buttonproduk:hover {
  cursor: pointer;
  background-color: #333;
}
#buttonproduk:active {
  background-color: #555;
}
#buttonproduk.show {
  opacity: 1;
  visibility: visible;
}