{% extends 'base.html' %}
{% load static %} 
{% load humanize %} 
{% load mathfilters %} 
{% block meta %}
<link rel="stylesheet" href="{% static 'css/keranjang.css' %}">
{% endblock meta %}
{% block content %}
<div class="container my-5">
    <h1>Hello, {{user.username}}!</h1>
    <div class="row">  
        <div class="col-md-8">
            <!--<a class="no-decoration " href="#"><h4 class="shadow keranjang-h4 p-3 my-3"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;Ubah Profil</h4></a>-->
           <a class="no-decoration " href="/listproduk/addproduk/"><h4 class="shadow keranjang-h4 p-3 my-3"><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Produk</h4></a>
            <a class="no-decoration " href="{% url 'keranjang:keranjang' %}"><h4 class="shadow keranjang-h4 p-3 my-3"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Keranjang</h4></a>
            <a class="no-decoration " href="/account/history/"><h4 class="shadow keranjang-h4 p-3 my-3"><i class="fas fa-history"></i>&nbsp;&nbsp;Riwayat Belanja</h4></a>
            {% comment %} <a class="no-decoration " href="/account/historyproduk/" ><h4 class="shadow keranjang-h4 p-3 my-3"><i class="fas fa-history"></i>&nbsp;&nbsp;Riwayat Tambah Produk</h4></a> {% endcomment %}
            <a class="no-decoration " href="{% url 'logout' %}"><h4 class="shadow keranjang-h4 p-3 my-3"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</h4></a>
        </div>
    </div>
    <br>
</div>
{% endblock content %}