{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
       <title>Log in</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'csslogin.css' %}">
    </head>
    <body>
        <section id="style1" style="background-color: #bce5ff; margin-top: 15%; margin-left: 35%; margin-right: 35%;">
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}

            {% if user.is_authenticated %}
            <h2> Hi {{ user.username }}! </h2>
            <p> You have already logged in </p>
            <a href='/account/' class="btn btn-lg btn-primary" style="color: navy; font-family: Poppins">back to home</a>
            {% else %}
            <div class="font"> log in </div>

            <div class="form-container" style="margin-left: 10%; margin-right: 10%;">
                <form action="" method="POST" class="flex-col-center">
                    {% csrf_token %}
                    <div class="form-unit my-1 mx-4">
                        {{form.username}}
                    </div>

                    <div class="form-unit my-1 mx-4">
                        {{form.password}}
                    </div>

                    <div class="form-unit mt-3 mb-5 mx-4 ">
                        <button type="submit" class="btn btn-lg btn-primary" style="color: navy; font-family: Poppins">log in</button>
                    </div>
                </form>
            </div>
            <div class="font2">
                don't have an account? sign up
                <a href='/account/signup'> here </a>
            </div>
            <br>
            {% endif %}
        </section>
    </body>
</html>
