{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'csslogin.css' %}">
    </head>

    <body>
    <section id="style1" style="background-color:#bce5ff; margin-top: 10%; margin-left: 35%; margin-right: 35%;">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}

        {% if user.is_authenticated %}
        <br>
        <h2> Hi {{ user.username }}! </h2>
        <p> you've already logged in </p>
        <p> logout to create a new account </p>
        <a href='/account/' class="up btn btn-lg btn-primary" style="background-color: navy; font-family: Poppins">back to home</a>
        <a href='/account/logout' class="up btn btn-lg btn-primary" style="background-color: navy; font-family: Poppins">log out</a>
        <br>
        {% else %}
        <div class="font"> sign up </div>

        <div class="form-container" style="margin-left: 10%; margin-right: 10%;">
            <form action="{% url 'signup' %}" method="POST" class="flex-col-center">
                {% csrf_token %}
                <div class="form-unit my-1 mx-4">
                    {{form.username}}
                </div>

                <div class="form-unit my-1 mx-4">
                    {{form.fullname}}
                </div>

                <div class="form-unit my-1 mx-4">
                    {{form.phone}}
                </div>

                <div class="form-unit my-1 mx-4">
                    {{form.email}}
                </div>
    
                <div class="form-unit my-1 mx-4">
                    {{form.password1}}
                </div>
    
                <div class="form-unit my-1 mx-4">
                    {{form.password2}}
                </div>
    
                <div class="form-unit mt-3 mb-5 mx-4 ">
                    <button type="submit" class="btn btn-lg btn-primary" style="color: navy; font-family: Poppins">sign up</button>
                </div>
            </form>
        </div>
        <div>
            already have an account? log in
            <a href='/account/login'> here </a>
        </div>
        <br>
        {% endif %}
    </section>
</body>
</html>
