{% extends "base.html" %}
{% load static %}

{% block meta %}<title>Bantuan</title>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bantuan.css' %}">
<div class="flex flex-col">
    <div class="title-top">
        <div class="center" align="center">
            <h1 class="title" style="color: navy; font-family: Poppins; margin-top: 2%; margin-bottom: 2%;">Bantuan</h1>
    </div>
    <div class="row font2">
        <div class="col-sm-5">
            <div class="flex" style="margin-left: 10%; margin-right: 10%; margin-bottom: 10%;">
                <form method="POST" id="post-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" id="name" placeholder="Medisa">
                    </div>
                    <div class="form-group">
                        <label>Pertanyaan</label>
                        <textarea class="form-control" id="question" placeholder="Apakah produk original?"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100 button2" style="font-size: 12px; margin-bottom: 5%;">Submit</button>
                </form>
                <!-- <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-sm">
                            {{form.name.label_tag}}
                        </div>
                        {{form.name}}
                    </div>
                    <div class="form-group">
                        <div class="text-sm">
                            {{form.question.label_tag}}
                        </div>
                        {{form.question}}
                    </div>
                    <a href="#">
                        <button type="submit" value="Submit" class="btn btn-primary btn-lg w-100 button2" style="font-size: 12px; margin-bottom: 5%;">Submit</button>
                    </a>
                </form> -->
            </div>
        </div>
        <div class="col-sm-7">
            <div class="wrapper" style="margin-top: 4%;">	
                <div class="accordion_wrapper">	
                    {% for x in model %}
                        <div class="accordion_item">
                            <div class="accordion_tab">{{ x.question }}
                                <div class="arrow">
                                    <img src="https://i.imgur.com/XuM2oTr.png" alt="arrow">
                                </div>
                            </div>
                            <div class="accordion_content">
                                {% if x.answer|length == 0 %}
                                <p>kami akan segera menjawab pertanyaanmu, sabar yahh :)</p>
                                {% else %}
                                <p>{{ x.answer }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/bantuan.js' %}"></script>
{% endblock %}
